<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information welcoming visitors to my page -->
        <div class="welcome-container">
            <h1>Welcome to my kitchen</h1>
            <h2>Track what happened in my kitchen!</h2>
        </div>

        <div class="new-post-btn-container">
           <a href="/new" class="button" role="button">+ New Post</a>
        </div>

        <input type="text" name="Food" id="food-input" placeholder="Food Name">
        <input type="int" name="Quantity" id="quantity-input" placeholder="Quantity">
        <input type="date" name="Expiry" id="expiry-input">
        <button onclick="showFood()">Submit</button>
    
        <h3>Thanks for confirming that you have: <span id="header-quantity"></span> <span id="header-food"></span> that expires on <span id="header-expiry"></span></h3>

        <script>

        function showFood() {
        // Get the value from the input field of ID #user-input
        // Store this value in a variable called user_input
        var food_input = document.getElementById("food-input").value
        var quantity_input = document.getElementById("quantity-input").value
        var expiry_input = document.getElementById("expiry-input").value

        // Update the content for the HTML element with ID #header-age with 
        // whatever the user_input varible contains
        document.getElementById("header-food").textContent = food_input
        document.getElementById("header-quantity").textContent = quantity_input
        document.getElementById("header-expiry").textContent = expiry_input
        }
        </script>

        <!-- Show blog posts -->
        <% blogs.forEach(post => { %>
            <article class="post-container">
                <h3><%= post.title %></h3>
                <p><%= post.content %></p>
                <form action="/delete/<%= post.id %>" method="post" onsubmit="return confirm('Do you really want to delete this post?');">
                    <button class="outline primary" type="submit">Delete</button>
                </form>
            </article>
        <% }); %>

    
    </main>
</body>
</html>